---
const { title = "Astro Basics" } = Astro.props;
---
<!DOCTYPE html>
<html lang="nl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content="Astro" />
    <title>{title}</title>

    <Astro.head />
  </head>
  <body class="min-h-screen w-full font-sans bg-white">
    <slot />
  </body>
</html>